<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" th:href=ef="@{/css/common.css}">
</head>
<body>
<div class="Sign in-container">
    <form action="/register" method="get">
        <h2>Sign in</h2>
        <div>
            <label for="username">username</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" oninput="maskPassword()">
        </div>
        <div>
            <button type="submit" onclick="window.location.href='/register?username=' + document.getElementById('username').value + '&password=' + document.getElementById('password').value">Login</button>
        </div>
    </form>
    <script>
                    function maskPassword() {
                    var passwordInput = document.getElementById("password");
                    var maskedPassword = "";
                        for (var i = 0; i < passwordInput.value.length; i++) {
                        maskedPassword += "*"; // remplacer par un point pour un masquage plus visuel (•)
                }
                passwordInput.value = maskedPassword;
           }
    </script>
</div>
</body>
</html>