body{
    box-sizing: border-box;
    margin-left:1.2%;
    padding: 0;
    width: 96%;
    /* background-color: #24252A; */
    background:url(./walletclient1.jpg) center/cover;
}

li, a, button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    /* justify-content: space-between; */
    justify-content:right;
    align-items: center;
    padding:30px 2.5%;
    border: 2px solid rgb(26, 255, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 97%;
    margin: 0% auto;
    max-height: 10px;
    /* transform: translateY(10%); */
    background: rgb(3, 102, 3);
    box-shadow: rgba(22, 132, 29, 0.933) 2px 2px 5px 3px;
}

main{
    background-color: rgba(40, 214, 40, 0.823) ;
    padding:30px 5%;
    border: 2px solid rgb(26, 255, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 700px;
    color: azure;
    width: 92%;
    margin: 0% auto;
    border-top: none;
    box-shadow: rgba(22, 132, 29, 0.933) 2px 2px 5px 3px;
}

#title{
    color: white;
    font-size: x-large;
    margin-right: auto;
}

.elem_toolbar{
    /* border: 2px solid red; */
    list-style: none;
}

.elem_toolbar li{
    display:inline-block;
    padding: 0px 10px;
}

.elem_toolbar li img{
    transition: all 0.3s ease 0s;
    /* border: solid 2px blue; */
    height: 30px;
    margin-top: 5px;
}

button{
    padding:9px 25px;
    border: solid 2px green;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: green;
    width: 100%;
    
}

button:hover{
    background-color: rgb(8, 168, 8);
    box-shadow: rgba(22, 132, 29, 0.933) 2px 2px 5px 3px;
}

#formMW{
    display: grid;
   
}

.boutonOpt{
    display: grid;
    width: 0%;
    /* margin-left: 600px; */
    /* margin-right: 600px;     */
    margin-left: 42.5% ;
}


#BtnOpt{
    margin-top: 100px;
    border: 2px solid rgb(7, 125, 25);
    border-radius: 10px;
    background-color: green;
    color: rgb(244, 225, 225);
    padding: 4%;
    transition: 0.2s;
    font-size: 110%; 
    /* height: 20px ; */
    padding: 20px;

}

#BtnOpt:hover{
    cursor: pointer;
    background-color: rgb(8, 168, 8);
    box-shadow: rgba(22, 132, 29, 0.933) 2px 2px 5px 3px;
}


/* ------------------------------------------- popup ----------------------------------------------------------- */

.container{
    width: 100%;
    height: 100vh;
    /* background-color: darkred; */
    display: flex;
    align-items: center;
    justify-content: center;

}

#bttn{
    padding: 10px 60px;
    background-color: rgba(40, 214, 40, 0.823) ;
    border: 0;
    outline:  none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
}

#bttn:hover{
    background-color: rgb(94, 211, 94) ;
}

.pop-up{
    width: 400px;
    background-color: green;
    border-radius: 6px;
    border: solid 2px rgb(0, 245, 0)  ;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px, 30px;
    color:white;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

h1{
    color: black;
    font-size: larger;
}

.pop-up h2{
    font-size: 30px;
    font-weight: 500;
    margin: 30px 0 10px;

}

.pop-up button{
    width: 100%;
    margin-top: 50px;
    padding: 10px ;
    margin: 10px;
    background-color: green;
    color:white;
    outline: none;
    border: 0;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.pop-up button:hover{
    background-color: rgba(5, 27, 222, 0.844);
}

.bouton{
    display: flex;
}